<!-- INCLUDE overall_header.html -->

<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr>
		<td>&nbsp;</td>
	</tr>

	<tr> 
		<td class="tableborder"> 
			<table cellpadding="4" cellspacing="1" border="0" width="100%"> 
				<!-- INCLUDE forumlist_body.html -->
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<table width="100%" cellspacing="0" border="0" align="center" cellpadding="2">
				<tr>
					<td align="left">
					</td>
					<td align="right">
						{S_TIMEZONE}
					</td>
				</tr>
				<tr>
					<td align="center">&nbsp;</td> 
					<td align="right" width="50%">
					</td>
				</tr>
			</table>

			<br clear="all" />

			<table class="legend">
				<tr>
					<td width="20" align="center">{FORUM_UNREAD_IMG}</td>
					<td><span class="gensmall">{L_UNREAD_POSTS}</span></td>
					<td>&nbsp;&nbsp;</td>
					<td width="20" align="center">{FORUM_IMG}</td>
					<td><span class="gensmall">{L_NO_UNREAD_POSTS}</span></td>
					<td>&nbsp;&nbsp;</td>
					<td width="20" align="center">{FORUM_LOCKED_IMG}</td>
					<td><span class="gensmall">{L_FORUM_LOCKED}</span></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

<!-- INCLUDE overall_footer.html -->