<!-- INCLUDE overall_header.html -->

<table cellpadding="0" cellspacing="0" border="0" width="100%" align="center">
	<tr>
		<td class="tableborder"> 
			<table cellpadding="4" cellspacing="1" border="0" width="100%">
				<tr>
					<th>{MESSAGE_TITLE}</th>
				</tr>
				<tr> 
					<td class="row1c" align="center"><br /><span class="mediumtext">{MESSAGE_TEXT}</span><br /></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->

<!-- INCLUDE overall_footer.html -->